# Name of nodes to start
# here we have a single node
CELERYD_NODES="celery"

CELERY_APP="main.celery"

# Absolute or relative path to the 'celery' command:
CELERY_BIN="/usr/bin/celery"

# How to call manage.py
CELERYD_MULTI="multi"

# Extra command-line arguments to the worker
CELERYD_OPTS="--time-limit=300 -c 4 -Q celery"

# %N will be replaced with the first part of the nodename.
CELERYD_LOG_FILE="/var/log/celery/celery.log"
CELERYD_PID_FILE="/var/run/celery/celery.pid"
